<h1>Welcome to RPS</h1>
<form action="/beats?">
  <div class="form-group">
     <label for="beats?">3 2 1 Enter Rock Paper or Scissors
</label>
     <input id="beats?" name="beats?" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
